*{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
body{
	overflow-x: hidden;
}
/*********** GRILLE *********/
.row {
	display:flex;
	flex-direction: row;
}
.row > * {
	flex: 0 0 auto;
}
.row > :first-child{
	margin-left: 0;
}
.col-12 {
	width: 100%;
}
.col-11 {
	width: 91.53%;
}
.col-10 {
	width: 83.06%;
}
.col-9 {
	width: 74.6%;
}
.col-8 {
	width: 66.13%;
}
.col-7 {
	width: 57.66%;
}
.col-6 {
	width: 49.2%;
}
.col-5 {
	width: 40.73%;
}
.col-4 {
	width: 32.26%;
}
.col-3 {
	width: 23.8%;
}
.col-2 {
	width: 15.33%;
}
.col-1 {
	width: 6.866%;
}
.container{
	margin: auto;
}

/******* GENERAL ********/
.clear{
	clear: both;
}
.cache{
	display: none;
}
.header{
	height: 150px;
}
.footer{
	width: 100%;
	/*height: 50px;*/
	position: inherit;
	z-index: -3;
}
.footer>.img-footer{
	position: inherit;
}
.menu .logo{
	display: inline;
}
.menu{
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}
.logo{
	float: left;
}
input:focus {
	outline: none;
}
.logo > a > .desktop{
	display: block;
	padding: 10px;
}
.logo > a > .mobile, .logo > a > .tablette{
	display: none;
}

/*NAV BURGER MENU*/
#menu a:hover {
	color: #a4a4a4;
}
#menuToggle {
	display: block;
	position: relative;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}
#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}
.menu.blanc #menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #000;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}
.menu.blanc #menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}
#menuToggle span:first-child {
	transform-origin: 0% 0%;
}
.menu.blanc #menuToggle span:first-child {
	transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}
.menu.blanc #menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #ffffff;
}
.menu.blanc #menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #ffffff;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}
.menu.blanc #menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}
.menu.blanc #menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}
#menu {
	position: absolute;
	width: 170px;
	top: -20px;
	right: -40px;
	padding: 70px 30px 30px 10px;
	background-color: #000;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu a {
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 30px;
}
#menuToggle input:checked ~ #menu {
	transform: none;
}
/*fin menu burger*/

.parallax {
	/*!* The image used *!*/
	/*background-image: url("../src/.jpg");*/

	/*!* Set a specific height *!*/
	height: 200px;

	/*!* Create the parallax scrolling effect *!*/
	/*background-attachment: fixed;*/
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
}
#notre-concept{
	height: auto;
}
#notre-bague{
	margin-bottom: 100px;
}
h2{
	font-size: 24px;
	text-transform: uppercase;
	line-height: 28px;
	margin-bottom: 40px;
}
p{
	width: 420px;
	height: auto;
	font-size: 14px;
	margin-bottom: 30px;
}
.btn{
	color: #ffffff;
	background-color: #000000;
	width: 200px;
	height: 35px;
	border-radius: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 35px;
}
.btn:hover{
	color: #666666;
}
.btn.blanc{
	color: #ffffff;
	background-color: #000000;
	width: 200px;
	height: 35px;
	border-radius: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 35px;
}
.trait{
	content: '';
	display: block;
	width: 50px;
	margin-bottom: 20px;
	background: #000000;
	height: 4px;
	border-radius: 5px;
	/*-webkit-transition: .4s cubic-bezier(.175,.885,.32,1.275).8s;*/
	/*transition: .4s cubic-bezier(.175,.885,.32,1.275).8s;*/
}
.right{
	float: right;
}
.img-footer {
	width: 100%;
	position: relative;
}
.img-footer img{
	width: 100%;
	position: absolute;
	z-index: -1;
	right: 0;
	left: 0;
	bottom: 0;
}

/****** PAGE HOME ********/
#accueil{
	background-image: url("../src/accueil.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	margin-bottom: 2%;
}
.courbe{
	position: absolute;
	width: 100vw;
	bottom: -53px;
}
.courbe_image{
	width: 100%;
}
.fas.fa-angle-down{
	position: relative;
	bottom: 50px;
	text-align: center;
	display: flex;
	width: 100%;
	margin: auto;
	flex-direction: column;
}
.rond-myapp{
	border-radius: 50%;
	height: 400px;
	width: 400px;
	background-color: black;
	background-position-y: 100%;
	background-repeat: no-repeat;
	float: right;
}
.rond-bague{
	border-radius: 50%;
	height: 300px;
	width: 300px;
	background-color: black;
	background-image: url("../src/motiv-rings.png");
	background-position: center;
}
.title-home{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title-home .btn-question{
	background-color: #ffffff;
	color: #000000;
	width: 200px;
	height: 35px;
	border-radius: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 35px;
	margin: auto;
}
.title-home .btn-question:hover{
	background-color: #F2F2F2;
}
.title-home>.title-accueil{
	text-align: center;
	font-size: 24px;
	color: #ffffff;
	width: inherit;
}
.concept-compatible p{
	color: #666666;
	width: auto;
	font-style: italic;
	margin-bottom: 15px;
}
.concept-compatible{
	margin-top: 35px;
}

/****** PAGE CONTACT ********/
section#page-contact {
	margin-bottom: 5%;
}
input, textarea{
	display: block;
	width: 400px;
	padding: 15px 5px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	border: none;
	border-bottom: 2px solid #828282;
	margin-bottom: 10px;
}
textarea{
	margin-bottom: 30px;
}
input[type="submit"]{
	background-color: #000000;
	border-radius: 100px;
	width: 117px;
	height: 38px;
	line-height: 8px;
	cursor:pointer;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
}
input[type="submit"]:hover{
	color: #666666;
}
form .align-input{
	display: flex;
}
form .align-input:first-child{
	margin-right: 40px;
}
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0;
	width: 13px;
	height: 13px;
	transition: 0.2s all linear;
	border: 0px solid #000000;
	box-shadow: 0 0 1px 1px #303030;
	margin-right: 15px;
	position: relative;
}
input[type="checkbox"]:checked {
	background-color:#000;
	border: 2px solid #ffffff;
}
textarea{
	max-width: 400px;
	height: 80px;
}
form .align-input>a{
	text-decoration: none;
}
.download{
	display: inline-block;
	margin-right: 10px;
	height: 14px;
	width: 16px;
	background-image: url(../src/download.png);
	background-size: cover;
	background-repeat: no-repeat;
}
#p-download{
	display: inline-block;
	color: #000;
}
#contact #btn-checkbox {
	display: inline-flex;
}

/****** PAGE A PROPOS NOUS ********/
#page-apropos{
	margin-bottom: 10%;
}
.photo-1{
	background-image: url(../src/nous/1.jpg);
}
.photo-2{
	background-image: url(../src/nous/2.jpg);
}
.photo-3{
	background-image: url(../src/nous/3.jpg);
}
.photo-4{
	background-image: url(../src/nous/4.jpg);
}
.photo-5{
	background-image: url(../src/nous/5.jpg);
}
.photo-6{
	background-image: url(../src/nous/6.jpg);
}
.photo-7{
	background-image: url(../src/nous/7.jpg);
}
.photo-8{
	background-image: url(../src/nous/8.jpg);
}
.photo-9{
	background-image: url(../src/nous/9.jpg);
}
.flip-container {
	perspective: 1000px;
	margin: 15px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 120px;
	height: 120px;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	background-size: cover;
	background-position: center;
}
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(180deg);
	opacity: .8;
	background-color: #000000;
}
.back>div>p{
	text-align: center;
	font-size: 11px;
	width: auto;
	margin-bottom: 5px;
	color: #ffffff;
}
.back>div>p:first-child{
	font-weight: 400;
}
.div-back{
	margin-top: 40%;
}
.decoration-rond-3 + div{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.decoration-rond{
	background: rgb(156,156,156);
	background: -moz-linear-gradient(45deg, rgba(156,156,156,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(156,156,156,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(45deg, rgba(156,156,156,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#ffffff',GradientType=1 );
	border-radius: 50%;
	position: absolute;
	z-index: -2;
	opacity: .5;
}
.decoration-rond-1{
	height: 190px;
	width: 190px;
	top: 170px;
	right: 130px;
}
.decoration-rond-2{
	height: 50px;
	width: 50px;
	right: 600px;
	bottom: 220px;
}
.decoration-rond-3{
	height: 100px;
	width: 100px;
	right: 465px;
	top: 155px;
}

/******** RS ***********/
.rs-desktop{
	float: right;
	border-bottom: 10px;
	margin-right: 35px;
	position: absolute;
	border-bottom: 10px;
	right: 0;
	bottom: 0;
	margin-bottom: 15px;
}
.rs-desktop>a{
	margin-left: 15px;
	text-decoration: none;
}
.rs-mobile{
	display: none;
}

/****** PAGE MODE TEST ********/
/*connexion*/
.musique-mode{
	width: 150px;
	height: 65px;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 100px;
	margin-right: 30px;
}
.musique-mode:last-child{
	margin-right: 0;
}
#page-connexion div.margin.row{
	justify-content: center;
}
.musique-mode.deezer{
	background-size: auto;
	background: url("../src/modes/logo_deezer.svg") no-repeat center;
}
.musique-mode.spotify{
	background-size: auto;
	background: url("../src/modes/logo_spotify.svg") no-repeat center;
}
.musique-mode.spotify.avenir{
	opacity: 0.2;
}
.musique-mode.youtube{
	background-size: auto;
	background: url("../src/modes/logo_youtube.svg") no-repeat center;
}
.musique-mode.youtube.avenir{
	opacity: 0.2;
}

.jeux-mode>div{
	flex-direction: column;
	display: flex;
	margin: auto 15px auto;
}
.jeux-mode>div>a, .jeux-mode>div>p{
	color: #000000;
	text-decoration: none;
	line-height: 120px;
	margin-bottom: 15px;
}

/*solo duo...*/
#page-lesmodes{
	margin-bottom: 5%;
}
#page-lesmodes>.col-6>p{
	text-align: center;
	margin-bottom: 20px;
	width: auto;
}
.rond-mode{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #9B9B9B;
	vertical-align: middle;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}
.champ-mode-petit{
	border-radius: 10px;
	background-position-y: 30%;
	background: #000000 url(../src/labague/vague-labague.svg) no-repeat bottom right;
	background-size: cover;
	width: 90%;
	height: 80px;
	margin-bottom: 20px;
}

.champ-mode-petit.active-champ{
	box-shadow: 1px 1px 5px 2px #cccccc;
	background: #ffffff url(../src/labague/) no-repeat bottom right;
}
.champ-mode-petit.active-champ a.test-mode{
	display: none;
}
a.mode-a-venir{
	cursor: default;
}
.champ-mode-petit.active-champ p{
	color: #000000;
}
.champ-mode-petit.active-champ #solo{
	background-size: contain;
	background: #9B9B9B url("../src/modes/solo-blanc.png") no-repeat center;
	background-image: url("../src/modes/solo-blanc.png"),  linear-gradient(220.95deg, #FFFFFF 13.82%, #9B9B9B 87.76%);
}
.champ-mode-petit.active-champ #duo{
	background-size: contain;
	background: #9B9B9B url("../src/modes/duo-blanc.png") no-repeat center;
	background-image: url("../src/modes/duo-blanc.png"), linear-gradient(220.95deg, #FFFFFF 13.82%, #9B9B9B 87.76%);
}
.champ-mode-petit.active-champ #versus{
	background-size: contain;
	background: #9B9B9B url("../src/modes/versus-blanc.png") no-repeat center;
	background-image: url("../src/modes/versus-blanc.png"), linear-gradient(220.95deg, #FFFFFF 13.82%, #9B9B9B 87.76%);
}
.champ-mode-petit.active-champ #band{
	background-size: contain;
	background: #9B9B9B url("../src/modes/band-blanc.png") no-repeat center;
	background-image: url("../src/modes/band-blanc.png"), linear-gradient(220.95deg, #FFFFFF 13.82%, #9B9B9B 87.76%);
}

.champ-mode-blanc.moyen-blanc{
	font-size: 14px;
	text-align: left;
	margin-bottom: 0px;
	padding-top: 20px;
	width: auto;
}
.champ-mode-blanc.petit-blanc{
	font-size: 12px;
	text-align: left;
	margin-bottom: 0px;
	padding-top: 0;
	width: auto;
}

#solo{
	background: #9B9B9B url("../src/modes/solo-noir.png") no-repeat center;
	background-image: url("../src/modes/solo-noir.png"), linear-gradient(220.95deg, #FFFFFF 13.82%, #9B9B9B 87.76%);
	background-size: auto;
}
#duo{
	background: #9B9B9B url("../src/modes/duo-noir.png") no-repeat center;
	background-image: url("../src/modes/duo-noir.png"), linear-gradient(220.95deg, #FFFFFF 13.82%, #9B9B9B 87.76%);
	background-size: auto;

}
#versus{
	background: #9B9B9B url("../src/modes/versus-noir.png") no-repeat center;
	background-image: url("../src/modes/versus-noir.png"), linear-gradient(220.95deg, #FFFFFF 13.82%, #9B9B9B 87.76%);
	background-size: auto;

}
#band{
	background: #9B9B9B url("../src/modes/band-noir.png") no-repeat center;
	background-image: url("../src/modes/band-noir.png"), linear-gradient(220.95deg, #FFFFFF 13.82%, #9B9B9B 87.76%);
	background-size: auto;

}

.trait-mode{
	width: 112px;
	height: 0px;
	margin-left: 40px;
	margin-top: 35px;
	border: 1px solid #666666;
}
.trait-mode2{
	width: 90px;
	height: 0px;
	margin-left: 40px;
	margin-top: 35px;
	border: 1px solid #666666;
}
.bpm-mode-solo{
	font-weight: 500;
	line-height: 27px;
	font-size: 18px;
	width: auto;
	margin: auto 15px auto;
}
.jeux-mode{
	margin: auto;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	margin-top: 15%;
}
.texte-solo{
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-style: italic;
}

.droit-mode{
	float: left;
	width: 45%;
}
a.test-mode{
	text-decoration: none;
	float: right;
	padding: 6px 10px;
	background-color: transparent;
	border-radius: 100px;
	border: 1px solid #ffffff;
	margin: 25px 10px;
	display: inline;
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff;
}
.active-champ a.test-mode{
	background-color: #ffffff;
	color: #000000;
}
/*a.test-mode:hover{*/
	/*background-color: #ffffff;*/
	/*color: #000000;*/
/*}*/

/*bouton coeur*/
.coeur{
	-webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
	animation: pulsate-fwd 1.5s ease-in-out infinite both;

	width: 73px;
	height: 73px;
	border-radius: 50%;
	background: linear-gradient(220.83deg, #4A4A4A 10.55%, rgba(255, 255, 255, 0) 90.03%), #000000;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coeur .button:hover{
	cursor: url("../src/cursor-rock.png"), pointer;
	/*cursor: pointer;*/
	background-color: #656565;
}
.button{
	position: absolute;
	width: 60.71px;
	height: 60.71px;
	left: 6px;
	top: 6px;
	border-radius: 50%;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #4A4A4A url("../src/heart.svg") no-repeat center;
	background-size: auto;
}

/*bouton duo / versus homme coeur*/

.portail-duo{
	width: 140px;
	height: 140px;
	margin-right: 60px;
}
.portail-duo:last-child{
	width: 140px;
	height: 140px;
	margin-right: 0;
}
.portail-homme{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../src/modes/homme.png");
}
.portail-femme{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../src/modes/femme.png");
}
.homme{
	width: 100px;
	height: 110px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../src/modes/homme.png");
}
.femme{
	width: 100px;
	height: 110px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../src/modes/femme.png");
}
.heart-homme-femme{
	background-image: url("../src/modes/heart.svg");
	background-repeat: no-repeat;
	margin: auto 0px 34px 51px;
	height: 20px;
	background-size: contain;
	width: 20px;
}

/*effet pulse*/
@-webkit-keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}


/*effet onde*/
.circle{
	width: 200px;
	height: 200px;
	border: 2px solid #666666;
	border-radius: 50%;
	position: absolute;
	left: -65px;
	top: -65px;
	z-index: -1;
}
.ping{
	-webkit-animation: ping .8s ease-in-out both;
	animation: ping .8s ease-in-out both
}
@-webkit-keyframes ping{
	0%{
		-webkit-transform:scale(.2);transform:scale(.2);opacity:.8
	}

	80%{
		-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0
	}

	100%{
		-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0
	}

}
@keyframes ping{

	0%{
		-webkit-transform:scale(.2);transform:scale(.2);opacity:.8
	}

	80%{
		-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0
	}

	100%{
		-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0
	}
}

/****** PAGE LA BAGUE ********/
.labague{
	background-image: url("../src/labague/header-labague.svg");
}
#page-labague, #page-labague-custom{
	margin-bottom: 30px;
}
.fond-labague {
	position: absolute;
	z-index: -1;
}
#champ-mode{
	width: 100%;
	height: 210px;
	border-radius: 10px;
	background-color: #000000;
	background-image: url("../src/labague/vague-labague.svg");
	background-position: bottom left;
	background-repeat: no-repeat;
}
#page-labague-mode{
	margin-bottom: 60px;
}
.champ-mode-blanc{
	font-size: 24px;
	text-align: center;
	color: #ffffff;
	width: 100%;
	padding-top: 50px;
}
.video{
	width: 778px;
	height: 438px;
	background-color: black;
	color: #ffffff;
	margin: auto;
}
.caracteristique{
	text-align: center;
	margin-right: 20px;
}
.caracteristique:last-child{
	text-align: center;
	margin-right: 0;
}
.caracteristique>p{
	width: auto;

}
.cara-3{
	justify-content: center;
}
.caracteristique>div{
	width:50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: auto auto 15px;
}
#autonomie + p, #waterproof + p, #cara + p{
	font-weight: bold;
	width: auto;
	margin-bottom: 5px;
}
#cara{
	background-image: url("../src/labague/caracteristique.svg");
}
#waterproof{
	background-image: url("../src/labague/waterproof.svg");
}
#autonomie{
	background-image: url("../src/labague/autonomie.svg");
}

/*.bague-custom{*/
	/*background-size: contain;*/
	/*background: url("../src/motiv-rings.png") no-repeat center;*/
/*}*/

#page-labague-custom .bague-custom{
	margin-right: 40px;
}
#page-labague-custom .custom{
	justify-content: center;
}
#page-labague-custom .custom div{
	margin-bottom: 20px;
}
#page-labague-custom .custom .col-4 div form p label{
	font-size: 12px;
	text-transform: uppercase;
}
#page-labague-custom .custom .col-4 div form p input{
	width: 100%;
	padding: 15px 0px;
	border-bottom: 1px solid #828282;
}

#page-labague-custom .custom .col-4 div form p input::-webkit-input-placeholder {
	color: #C4C4C4;
}
#page-labague-custom .custom .col-4 div form p input::-moz-placeholder {
	color: #C4C4C4;
}
#page-labague-custom .custom .col-4 div form p input:-ms-input-placeholder {
	color: #C4C4C4;
}
#page-labague-custom .custom .col-4 div form p input::placeholder {
	color: #C4C4C4;
}

#page-labague-custom h5{
	font-size: 12px;
	border-bottom: 1px solid #000;
	text-transform: uppercase;
	padding-bottom: 15px;
}
#page-labague-custom .couleur{
	justify-content: space-around;
}
.column-couleur{
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.column-couleur span{
	font-size: 11px;
	text-align: center;
}
#page-labague-custom .select{
	height: 25px;
	width: 25px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: auto auto 10px;
}
#page-labague-custom .select.active-select{
	box-shadow: 0 0 2px 1px #ccc;

}
#page-labague-custom #noir{
	background-color: #000000;
}
#page-labague-custom #blanc{
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
}
#page-labague-custom #anthracite{
	background-color: #293133;
}
#page-labague-custom #inox{
	background-color: #c8c7c2;
}
#page-labague-custom #acier{
	background-color: #AFAFAF;
}

/*partager fb*/
button#u_0_2{
	background-color: #666666;
	border-radius: 100px;

}
a#u_0_1{
	background-color: #666666;
}

/******* 404 ******/
#page-404{
	margin-bottom: 5%;
}
#page-404 a:hover{
	color: #666666;
}
#page-404 a{
	position: relative;
	z-index: 2;
	color: #ffffff;
	background-color: #000000;
	margin: auto;
}
#page-404>p{
	text-align: center;
	width: auto;
}
#page-404 .image-erreur{
	height: 360px;
	width: 330px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url("../src/404/labombe-oeil-ferme.gif");
}
.erreur-404{
	font-family: 'Raleway', sans-serif ;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 280px;
	color: rgb(125,126,125);
}
.erreur-404#chiffre-1{
	float: right;
	margin-right: 130px;
}
.erreur-404#chiffre-2{
	margin-left: 120px;
	float: left;
}

/****** QUESTIONNAIRE ********/
#background-questionnaire{
	background-color: #000000;
	height:100%;
	position: inherit;
}
#q2{
	/*max-width:1280px;*/
	position: relative;
	padding-bottom: 100px;
}


#q2>h2{
	color: #ffffff;
	margin-bottom: 70px;
}
#q2>.trait{
	background-color: #ffffff;
}

#q2>form{
	color: #ffffff;
	font-weight: 200;
}
#q2>form>p.align-input{
	display: flex;
}
#q2>form>input[type="submit"]{
	color: #ffffff;
	width: 120px;
	background-color: transparent;
	text-transform: uppercase;
	float: right;
	border: 1px solid #ffffff;

}
#q2>form>input[type="submit"]:hover{
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #666666;
	color: #666666;
}
#q2 input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	transition: 0.2s all linear;
	border: 1px solid #000000;
	box-shadow: 0 0 4px 1px #fff;
	margin-right: 15px;
	position: relative;
}
#q2 input[type="radio"]:checked {
	background-color:#fff;
	border: 4px solid #000;
}

#q2 + footer>.img-footer{
	position: relative;
}
#q2 + footer{
	position: absolute;
	bottom: 0;
	width: 100vw;
	z-index: -2;
	background-size: cover;
	background-repeat: no-repeat;

}
#q2 + footer.footer-qintro{
	height: 450px;
	background-image: url(../src/questionnaire/qintro.png);
}
#q2 + footer.footer-q1{
	height: 450px;
	background-image: url(../src/questionnaire/q1.png);
}
#q2 + footer.footer-q2{
	height: 450px;
	background-image: url(../src/questionnaire/q2.png);
}
#q2 + footer.footer-q3{
	height: 450px;
	background-image: url(../src/questionnaire/q3.png);
}
#q2 + footer.footer-q4{
	height: 450px;
	background-image: url(../src/questionnaire/q4.png);
}
#q2 + footer.footer-q5{
	height: 450px;
	background-image: url(../src/questionnaire/q5.png);
}

#q2>.etapes>.question{
	border-radius: 50%;
	padding: 5px;
	height: 20px;
	width: 20px;
	text-align: center;
	border: 1px solid #ffffff;
	color: #ffffff;
	opacity: .5;
	text-decoration: none;
}
#q2>.etapes>.question.prev{
	border-radius: 50%;
	padding: 5px;
	height: 20px;
	width: 20px;
	text-align: center;
	border: 1px solid #ffffff;
	color: #ffffff;
	opacity: 1;
}
#q2>.etapes>.question.active{
	border-radius: 50%;
	padding: 5px;
	height: 20px;
	width: 20px;
	text-align: center;
	background-color: #ffffff;
	color: #000000;
	opacity: 1;
}
#q2>.etapes>.question.result{
	border-radius: 15px;
	width: 80px;
	line-height: 20px;
}
#q2>.etapes>.trait-q{
	width: 25px;
	height: 2px;
	background-color: #ffffff;
	border-radius: 5px;
	margin: 0 15px;
	margin-top: 15px;
}
#q2>.etapes{
	justify-content: center;
	margin-bottom: 15px;
}

/*result*/
#q2 article.rockattitude h4, #q2 article.rockattitude p{
	color: #ffffff;
	font-size: 14px;
}
#q2 article.rockattitude h4{
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 25px;
}
#q2 article.rockattitude p{
	font-style: italic;
	color: #C4C4C4;
	line-height: 21px;
	width: auto;
	margin-bottom: 80px;

}
#q2 div:last-child p{
	text-align: center;
	color: #ffffff;
	width: auto;
	font-size: 16px;
}
#q2 div:last-child p>span{
	font-weight: 800;
}
#q2 div:last-child a{
	background-color: #ffffff;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-radius: 100px;
	margin: auto;
	display: block;
	width: 110px;
}
#q2 div:last-child a:hover{
	background-color: #F2F2F2;
}
.bar-progress{
	margin-bottom: 25px;
}
progress::-webkit-progress-bar {
	background: #ffffff ;
}
progress::-moz-progress-bar {
	background: #ffffff ;
}
progress::-webkit-progress-value {
	background: #4F4F4F;
	border-radius: 100px;
}
.avancement{
	width: 60%;
	border-radius: 100px;
	padding: 5px;
	margin-right: 10px;
	background-color: #ffffff;
	color: #ffffff;
}
.theme{
	color: #ffffff;
}
#q2 h4>span{
	font-weight: 800;
}

/*intro*/
#q2 p{
	color: #ffffff;
}
#q2 .btn-question{
	background-color: #ffffff;
	color: #000000;
	width: 200px;
	height: 35px;
	border-radius: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 35px;
	margin-top: 10%;
}
#q2 .btn-question:hover{
	background-color: #F2F2F2;
}


/******* MENTIONS LEGALES ********/
#page-mentionslegales ul li {
	font-size: 14px;
}
#page-mentionslegales ul li, #page-mentionslegales p {
	width: 70%;
}
#page-mentionslegales a {
	color: #000000;
}

/******* RESPONSIVE ********/
/*tablette*/
@media (min-width: 600px) and (max-width: 1024px) {
	/*pas de parallax*/
	.parallax {
		background-attachment: scroll;
	}
	.logo > a > .tablette{
		display: block;
		padding: 10px;

	}
	.logo > a > .mobile, .logo > a > .desktop{
		display: none;
	}
}

/*mobile*/
@media (max-width: 599px) {
	/*pas de parallax*/
	.parallax {
		background-attachment: scroll;
	}

	.rs-desktop {
		display: none;
	}
	.rs-mobile {
		display: block;
		text-align: center;
	}
	.rs-mobile a{
		margin-right: 25px;
	}
	.rs-mobile a:last-child{
		margin-right: 0;
	}
	.header{
		height: 100px;
	}
	.row{
		display: block;
	}
	.col-6, .col-6 p, p, .col-5, .col-1, .col-2, .col-3, .col-4, .col-7, .col-8, .col-9{
		width: 100%;
	}
	.col-10{
		width: 90%;
	}
	h2{
		font-size: 26px;
		text-transform: none;
	}

	.logo > a > .mobile{
		display: block;
		padding: 10px;
	}
	.logo > a > .tablette, .logo > a > .desktop{
		display: none;
	}

	/*home*/
	.parallax{
		height: 50px;
	}
	#notre-bague>article>.right, #notre-concept>article>.right{
		float: none;
	}
	#notre-concept>article{
		margin-bottom: 25px;
	}
	.rond-myapp{
		width: 255px;
		height: 255px;
		background-size: contain;
		float: none;
		position: relative;
		left: -50px;
	}
	.rond-bague{
		width: 250px;
		height: 250px;
		position: relative;
		left: 150px;
	}

	/*page à propos*/
	#page-apropos .col-6.row{
		display: flex;
		flex-direction: row;
	}
	#page-apropos .col-6.row div .flip-container{
		margin: 0;
		margin-right: 10px;
		margin-bottom: 15px;
	}
	#page-apropos .col-6.row div:last-child .flip-container{
		margin-right: 0px;
	}
	.decoration-rond-3 + div{
		display: flex;
		flex-wrap: wrap;
		width: 95%;
		margin: auto;
		justify-content: center;
	}
	.front{
		width: 100px;
		height: 100px;
	}

	/*modes*/
	.champ-mode-petit{
		width: 100%;
	}
	.jeux-mode{
		display: block;
	}
	.jeux-mode-duo{
		display: flex;
	}
	.portail-duo {
		margin-right: 20px;
	}
	.jeux-mode>div{
		margin: auto;
	}
	.jeux-mode>p, .jeux-mode + p{
		text-align: center;
	}
	.trait-mode, .trait-mode2{
		display: none !important;
	}
	.bpm-mode-solo{
		margin-bottom: 15px;
	}
	#page-lesmodes article.col-4 {
		margin-bottom: 70px;
	}
	#page-lesmodes article.col-8 p:first-child{
		text-align: left;
	}
	#tap{
		margin-bottom: 20px;
	}
	.rond-mode{
		width: 45px;
		height: 45px;
	}
	a.test-mode{
		font-size: 11px;
		text-transform: none;
	}
	/*connexion*/
	#page-connexion div.margin.row {
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.musique-mode{
		margin-bottom: 30px;
		margin-right: 0;
	}


	/*erreur 404*/
	#page-404 .image-erreur {
		height: 240px;
		width: 220px;
		top: 40%;
	}
	#page-404>div.row{
		display: flex;
		margin-bottom: 80px !important;
	}
	#page-404>div.row>.col-6{
		width: 49%;
	}
	.erreur-404{
		font-size: 180px;
	}
	.erreur-404#chiffre-2 {
		margin-left: 80px;
		margin-top: 30px;
	}
	.erreur-404#chiffre-1 {
		margin-right: 75px;
		margin-top: 30px;
	}


	/*CONTACT*/
	#page-contact input, textarea{
		width: 95%;
	}
	textarea{
		max-width: 95%;
	}
	#contact input[type="submit"]{
		margin: auto;
		width: 150px;
		text-transform: none;
	}
	#contact #btn-checkbox {
		display: block;
	}
	#contact #btn-checkbox input[type="checkbox"] {
		width: 15px;
		height: 15px;
	}
	#p-download {
		display: inline;
	}
	.align-input{
		margin-bottom: 20px;
	}
	.align-input:last-child{
		margin-bottom: 60px;
	}
	#page-contact {
		margin-bottom: 100px;
	}
	#contact{
		margin-bottom: 70px;
	}
	#p-download, .download{
		display: none;
	}

	/*labague*/
	#page-labague-custom .custom div.row{
		display: flex;
	}
	.bague-custom{
		height: 200px;
		background-size: contain;
	}
	.video{
		width: 100%;
	}
	#champ-mode{
		width: 100%;
		height: 200px;
		position: inherit;
	}
	#champ-mode>a{
		text-transform: none !important;
	}
	.champ-mode-blanc{
		font-size: 16px;
	}


	/*questionnaire*/
	#q2>.row{
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-bottom: 30px;
	}
	#q2>.etapes>.question {
		margin: 6px;
	}
	.btn-question{
		margin: auto;
	}
	.center-text{
		text-align: center;
		margin-bottom: 90px;
	}
	#q2>.etapes>.question, #q2>.etapes>.question.active, #q2>.etapes>.question.prev{
		height: 15px;
		width: 15px;
		line-height: 13px;
		margin: 0;
	}
	#q2>.etapes>.trait-q {
		width: 10px;
		margin: 12px 7px 0px 7px;
	}
	#q2>.etapes>.question.result {
		border-radius: 15px;
		width: 50px;
		line-height: 15px;
	}
	#q2>form>input[type="submit"]{
		float: none;
		margin: auto;
		text-transform: none;
		background-color: #ffffff;
		color: #000000;
		margin-top: 50px;
	}
	.theme {
		font-size: 13px;
	}
	.avancement {
		width: 100%;
		margin-bottom: 5px;
	}
	#q2 div:last-child a{
		text-transform: none;
	}
	#q2 div:last-child p{
		font-size: 20px;
		font-style: italic;
	}
	#q2 h4>span{
		display: block;
		font-size: 25px;
	}

}
